In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as se
import time
import timeit
%matplotlib inline
import datetime

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [26]:
dataset = pd.read_csv('/content/gdrive/MyDrive/CausaLens/AirQualityUCI/AirQualityUCI.csv', sep = ';', decimal=',')
dataset.head()

         Date      Time  CO(GT)  ...      AH  Unnamed: 15  Unnamed: 16
0  10/03/2004  18.00.00     2.6  ...  0.7578          NaN          NaN
1  10/03/2004  19.00.00     2.0  ...  0.7255          NaN          NaN
2  10/03/2004  20.00.00     2.2  ...  0.7502          NaN          NaN
3  10/03/2004  21.00.00     2.2  ...  0.7867          NaN          NaN
4  10/03/2004  22.00.00     1.6  ...  0.7888          NaN          NaN

[5 rows x 17 columns]

In [27]:
dataset['target']=dataset['CO(GT)'].shift(1)
dataset.head()

         Date      Time  CO(GT)  ...  Unnamed: 15  Unnamed: 16  target
0  10/03/2004  18.00.00     2.6  ...          NaN          NaN     NaN
1  10/03/2004  19.00.00     2.0  ...          NaN          NaN     2.6
2  10/03/2004  20.00.00     2.2  ...          NaN          NaN     2.0
3  10/03/2004  21.00.00     2.2  ...          NaN          NaN     2.2
4  10/03/2004  22.00.00     1.6  ...          NaN          NaN     2.2

[5 rows x 18 columns]

In [32]:
dataset.isna().sum()

Date                0
Time                0
CO(GT)              0
PT08.S1(CO)         0
NMHC(GT)            0
C6H6(GT)            0
PT08.S2(NMHC)       0
NOx(GT)             0
PT08.S3(NOx)        0
NO2(GT)             0
PT08.S4(NO2)        0
PT08.S5(O3)         0
T                   0
RH                  0
AH                  0
Unnamed: 15      9356
Unnamed: 16      9356
target              0
dtype: int64

In [31]:
dataset=dataset.dropna(subset=['Time'], inplace=False)
dataset.head()

         Date      Time  CO(GT)  ...  Unnamed: 15  Unnamed: 16  target
1  10/03/2004  19.00.00     2.0  ...          NaN          NaN     2.6
2  10/03/2004  20.00.00     2.2  ...          NaN          NaN     2.0
3  10/03/2004  21.00.00     2.2  ...          NaN          NaN     2.2
4  10/03/2004  22.00.00     1.6  ...          NaN          NaN     2.2
5  10/03/2004  23.00.00     1.2  ...          NaN          NaN     1.6

[5 rows x 18 columns]

In [33]:
New=dataset.drop(columns=['Date','Time','Unnamed: 15','Unnamed: 16'])
New.head()

   CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  ...     T    RH      AH  target
1     2.0       1292.0     112.0       9.4  ...  13.3  47.7  0.7255     2.6
2     2.2       1402.0      88.0       9.0  ...  11.9  54.0  0.7502     2.0
3     2.2       1376.0      80.0       9.2  ...  11.0  60.0  0.7867     2.2
4     1.6       1272.0      51.0       6.5  ...  11.2  59.6  0.7888     2.2
5     1.2       1197.0      38.0       4.7  ...  11.2  59.2  0.7848     1.6

[5 rows x 14 columns]

In [34]:
New.corr(method ='pearson')

                 CO(GT)  PT08.S1(CO)  NMHC(GT)  ...        RH        AH    target
CO(GT)         1.000000     0.041366  0.128274  ... -0.048237 -0.045903  0.865878
PT08.S1(CO)    0.041366     1.000000  0.169837  ...  0.745394  0.764921  0.037374
NMHC(GT)       0.128274     0.169837  1.000000  ...  0.008243  0.012457  0.123690
C6H6(GT)      -0.031391     0.852706  0.037275  ...  0.925062  0.984555 -0.031283
PT08.S2(NMHC)  0.029904     0.933111  0.110029  ...  0.585801  0.646571  0.024740
NOx(GT)        0.526458     0.278007 -0.004426  ... -0.053009 -0.095847  0.508300
PT08.S3(NOx)  -0.090026     0.086945  0.048644  ...  0.573554  0.621625 -0.084541
NO2(GT)        0.671120     0.153995  0.103233  ... -0.081314 -0.060449  0.651210
PT08.S4(NO2)  -0.073759     0.845143  0.162574  ...  0.640709  0.691916 -0.076524
PT08.S5(O3)    0.080280     0.892432  0.101062  ...  0.524955  0.519466  0.075966
T             -0.068944     0.754871 -0.000030  ...  0.885911  0.981002 -0.067452
RH            -0.048237     0.745394  0.008243  ...  1.000000  0.943995 -0.047115
AH            -0.045903     0.764921  0.012457  ...  0.943995  1.000000 -0.044477
target         0.865878     0.037374  0.123690  ... -0.047115 -0.044477  1.000000

[14 rows x 14 columns]

In [22]:
#correlation = New.target.corr(New.RH)
#New=pd.to_numeric(New.AH)
New.convert_dtypes().dtypes

CO(GT)           string
PT08.S1(CO)       Int64
NMHC(GT)          Int64
C6H6(GT)         string
PT08.S2(NMHC)     Int64
NOx(GT)           Int64
PT08.S3(NOx)      Int64
NO2(GT)           Int64
PT08.S4(NO2)      Int64
PT08.S5(O3)       Int64
T                string
RH               string
AH               string
target           string
dtype: object

In [25]:
dataset.AH

1       0,7255
2       0,7502
3       0,7867
4       0,7888
5       0,7848
         ...
9352    0,7568
9353    0,7119
9354    0,6406
9355    0,5139
9356    0,5028
Name: AH, Length: 9356, dtype: object